@font-face {
  font-family: "parairnos";
  src:url("../fonts/parairnos.eot");
  src:url("../fonts/parairnos.eot?#iefix") format("embedded-opentype"),
    url("../fonts/parairnos.woff") format("woff"),
    url("../fonts/parairnos.ttf") format("truetype"),
    url("../fonts/parairnos.svg#parairnos") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "parairnos" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="parairnos-"]:before,
[class*=" parairnos-"]:before {
  font-family: "parairnos" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icono-001:before {
  content: "a";
}
.icono-002:before {
  content: "b";
}
.icono-003:before {
  content: "c";
}
.icono-004:before {
  content: "d";
}
.icono-005:before {
  content: "e";
}
.icono-006:before {
  content: "f";
}
.icono-007:before {
  content: "g";
}
.icono-008:before {
  content: "h";
}
.icono-009:before {
  content: "i";
}
.icono-010:before {
  content: "j";
}
.icono-011:before {
  content: "k";
}
.icono-065:before {
  content: "l";
}
.icono-012:before {
  content: "m";
}
.icono-013:before {
  content: "n";
}
.icono-026:before {
  content: "o";
}
.icono-025:before {
  content: "p";
}
.icono-024:before {
  content: "q";
}
.icono-023:before {
  content: "r";
}
.icono-022:before {
  content: "s";
}
.icono-021:before {
  content: "t";
}
.icono-020:before {
  content: "u";
}
.icono-019:before {
  content: "v";
}
.icono-018:before {
  content: "w";
}
.icono-017:before {
  content: "x";
}
.icono-016:before {
  content: "y";
}
.icono-015:before {
  content: "z";
}
.icono-014:before {
  content: "A";
}
.icono-027:before {
  content: "B";
}
.icono-028:before {
  content: "C";
}
.icono-029:before {
  content: "D";
}
.icono-030:before {
  content: "E";
}
.icono-031:before {
  content: "F";
}
.icono-032:before {
  content: "G";
}
.icono-033:before {
  content: "H";
}
.icono-034:before {
  content: "I";
}
.icono-035:before {
  content: "J";
}
.icono-036:before {
  content: "K";
}
.icono-038:before {
  content: "L";
}
.icono-039:before {
  content: "M";
}
.icono-037:before {
  content: "N";
}
.icono-052:before {
  content: "O";
}
.icono-051:before {
  content: "P";
}
.icono-050:before {
  content: "Q";
}
.icono-049:before {
  content: "R";
}
.icono-048:before {
  content: "S";
}
.icono-047:before {
  content: "T";
}
.icono-046:before {
  content: "U";
}
.icono-045:before {
  content: "V";
}
.icono-044:before {
  content: "W";
}
.icono-042:before {
  content: "X";
}
.icono-041:before {
  content: "Y";
}
.icono-040:before {
  content: "Z";
}
.icono-043:before {
  content: "0";
}
.icono-053:before {
  content: "1";
}
.icono-054:before {
  content: "2";
}
.icono-055:before {
  content: "3";
}
.icono-056:before {
  content: "4";
}
.icono-057:before {
  content: "5";
}
.icono-058:before {
  content: "6";
}
.icono-059:before {
  content: "7";
}
.icono-060:before {
  content: "8";
}
.icono-061:before {
  content: "9";
}
.icono-062:before {
  content: "!";
}
.icono-063:before {
  content: "\"";
}
.icono-064:before {
  content: "#";
}
.icono-066:before {
  content: "$";
}
.icono-079:before {
  content: "%";
}
.icono-092:before {
  content: "&";
}
.icono-105:before {
  content: "'";
}
.icono-118:before {
  content: "(";
}
.icono-131:before {
  content: ")";
}
.icono-144:before {
  content: "*";
}
.icono-157:before {
  content: "+";
}
.icono-067:before {
  content: ",";
}
.icono-080:before {
  content: "-";
}
.icono-068:before {
  content: ".";
}
.icono-081:before {
  content: "/";
}
.icono-093:before {
  content: ":";
}
.icono-094:before {
  content: ";";
}
.icono-095:before {
  content: "<";
}
.icono-096:before {
  content: "=";
}
.icono-097:before {
  content: ">";
}
.icono-098:before {
  content: "?";
}
.icono-099:before {
  content: "@";
}
.icono-100:before {
  content: "[";
}
.icono-101:before {
  content: "]";
}
.icono-102:before {
  content: "^";
}
.icono-103:before {
  content: "_";
}
.icono-104:before {
  content: "`";
}
.icono-091:before {
  content: "{";
}
.icono-090:before {
  content: "|";
}
.icono-089:before {
  content: "}";
}
.icono-088:before {
  content: "~";
}
.icono-087:before {
  content: "\\";
}
.icono-086:before {
  content: "\e000";
}
.icono-085:before {
  content: "\e001";
}
.icono-084:before {
  content: "\e002";
}
.icono-083:before {
  content: "\e003";
}
.icono-082:before {
  content: "\e004";
}
.icono-069:before {
  content: "\e005";
}
.icono-070:before {
  content: "\e006";
}
.icono-071:before {
  content: "\e007";
}
.icono-072:before {
  content: "\e008";
}
.icono-073:before {
  content: "\e009";
}
.icono-074:before {
  content: "\e00a";
}
.icono-075:before {
  content: "\e00b";
}
.icono-076:before {
  content: "\e00c";
}
.icono-077:before {
  content: "\e00d";
}
.icono-078:before {
  content: "\e00e";
}
.icono-117:before {
  content: "\e00f";
}
.icono-116:before {
  content: "\e010";
}
.icono-115:before {
  content: "\e011";
}
.icono-114:before {
  content: "\e012";
}
.icono-113:before {
  content: "\e013";
}
.icono-112:before {
  content: "\e014";
}
.icono-111:before {
  content: "\e015";
}
.icono-110:before {
  content: "\e016";
}
.icono-109:before {
  content: "\e017";
}
.icono-108:before {
  content: "\e018";
}
.icono-107:before {
  content: "\e019";
}
.icono-106:before {
  content: "\e01a";
}
.icono-119:before {
  content: "\e01b";
}
.icono-120:before {
  content: "\e01c";
}
.icono-121:before {
  content: "\e01d";
}
.icono-122:before {
  content: "\e01e";
}
.icono-123:before {
  content: "\e01f";
}
.icono-124:before {
  content: "\e020";
}
.icono-125:before {
  content: "\e021";
}
.icono-126:before {
  content: "\e022";
}
.icono-127:before {
  content: "\e023";
}
.icono-128:before {
  content: "\e024";
}
.icono-129:before {
  content: "\e025";
}
.icono-130:before {
  content: "\e026";
}
.icono-143:before {
  content: "\e027";
}
.icono-142:before {
  content: "\e028";
}
.icono-141:before {
  content: "\e029";
}
.icono-140:before {
  content: "\e02a";
}
.icono-139:before {
  content: "\e02b";
}
.icono-138:before {
  content: "\e02c";
}
.icono-137:before {
  content: "\e02d";
}
.icono-136:before {
  content: "\e02e";
}
.icono-135:before {
  content: "\e02f";
}
.icono-134:before {
  content: "\e030";
}
.icono-133:before {
  content: "\e031";
}
.icono-132:before {
  content: "\e032";
}
.icono-145:before {
  content: "\e033";
}
.icono-146:before {
  content: "\e034";
}
.icono-147:before {
  content: "\e035";
}
.icono-148:before {
  content: "\e036";
}
.icono-149:before {
  content: "\e037";
}
.icono-150:before {
  content: "\e038";
}
.icono-151:before {
  content: "\e039";
}
.icono-152:before {
  content: "\e03a";
}
.icono-153:before {
  content: "\e03b";
}
.icono-154:before {
  content: "\e03c";
}
.icono-155:before {
  content: "\e03d";
}
.icono-156:before {
  content: "\e03e";
}
.icono-169:before {
  content: "\e03f";
}
.icono-168:before {
  content: "\e040";
}
.icono-167:before {
  content: "\e041";
}
.icono-166:before {
  content: "\e042";
}
.icono-165:before {
  content: "\e043";
}
.icono-164:before {
  content: "\e044";
}
.icono-163:before {
  content: "\e045";
}
.icono-162:before {
  content: "\e046";
}
.icono-161:before {
  content: "\e047";
}
.icono-160:before {
  content: "\e048";
}
.icono-159:before {
  content: "\e049";
}
.icono-158:before {
  content: "\e04a";
}
.icono-170:before {
  content: "\e04b";
}
.icono-171:before {
  content: "\e04c";
}
.icono-172:before {
  content: "\e04d";
}
.icono-173:before {
  content: "\e04e";
}
.icono-174:before {
  content: "\e04f";
}
.icono-175:before {
  content: "\e050";
}
.icono-176:before {
  content: "\e051";
}
.icono-177:before {
  content: "\e052";
}
.icono-178:before {
  content: "\e053";
}
.icono-179:before {
  content: "\e054";
}
.icono-180:before {
  content: "\e055";
}
.icono-181:before {
  content: "\e056";
}
.icono-182:before {
  content: "\e057";
}
.icono-195:before {
  content: "\e058";
}
.icono-194:before {
  content: "\e059";
}
.icono-193:before {
  content: "\e05a";
}
.icono-192:before {
  content: "\e05b";
}
.icono-191:before {
  content: "\e05c";
}
.icono-190:before {
  content: "\e05d";
}
.icono-189:before {
  content: "\e05e";
}
.icono-188:before {
  content: "\e05f";
}
.icono-187:before {
  content: "\e060";
}
.icono-186:before {
  content: "\e061";
}
.icono-185:before {
  content: "\e062";
}
.icono-184:before {
  content: "\e063";
}
.icono-183:before {
  content: "\e064";
}
.icono-196:before {
  content: "\e065";
}
.icono-197:before {
  content: "\e066";
}
.icono-198:before {
  content: "\e067";
}
.icono-199:before {
  content: "\e068";
}
.icono-200:before {
  content: "\e069";
}
.icono-201:before {
  content: "\e06a";
}
.icono-202:before {
  content: "\e06b";
}
.icono-203:before {
  content: "\e06c";
}
.icono-204:before {
  content: "\e06d";
}
.icono-205:before {
  content: "\e06e";
}
.icono-206:before {
  content: "\e06f";
}
.icono-207:before {
  content: "\e070";
}
.icono-208:before {
  content: "\e071";
}
.icono-221:before {
  content: "\e072";
}
.icono-220:before {
  content: "\e073";
}
.icono-219:before {
  content: "\e074";
}
.icono-218:before {
  content: "\e075";
}
.icono-217:before {
  content: "\e076";
}
.icono-216:before {
  content: "\e077";
}
.icono-215:before {
  content: "\e078";
}
.icono-214:before {
  content: "\e079";
}
.icono-213:before {
  content: "\e07a";
}
.icono-212:before {
  content: "\e07b";
}
.icono-211:before {
  content: "\e07c";
}
.icono-210:before {
  content: "\e07d";
}
.icono-209:before {
  content: "\e07e";
}
.icono-222:before {
  content: "\e07f";
}
.icono-223:before {
  content: "\e080";
}
.icono-224:before {
  content: "\e081";
}
.icono-225:before {
  content: "\e082";
}
.icono-226:before {
  content: "\e083";
}
.icono-227:before {
  content: "\e084";
}
.icono-228:before {
  content: "\e085";
}
.icono-229:before {
  content: "\e086";
}
.icono-230:before {
  content: "\e087";
}
.icono-231:before {
  content: "\e088";
}
.icono-232:before {
  content: "\e089";
}
.icono-233:before {
  content: "\e08a";
}
.icono-234:before {
  content: "\e08b";
}
.icono-247:before {
  content: "\e08c";
}
.icono-246:before {
  content: "\e08d";
}
.icono-245:before {
  content: "\e08e";
}
.icono-244:before {
  content: "\e08f";
}
.icono-243:before {
  content: "\e090";
}
.icono-242:before {
  content: "\e091";
}
.icono-241:before {
  content: "\e092";
}
.icono-240:before {
  content: "\e093";
}
.icono-239:before {
  content: "\e094";
}
.icono-238:before {
  content: "\e095";
}
.icono-237:before {
  content: "\e096";
}
.icono-236:before {
  content: "\e097";
}
.icono-235:before {
  content: "\e098";
}
.icono-248:before {
  content: "\e099";
}
.icono-249:before {
  content: "\e09a";
}
.icono-250:before {
  content: "\e09b";
}
